* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 704px);
  padding-right: calc(50% - 704px);
}

.top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 1024px;
  padding-top: 217px;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(./images/background.jpg), lightgray 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.top__header-title {
  width: 789px;
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.top__header-text {
  width: 481px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}
.top__header-bold {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.top__button {
  width: 234px;
  height: 49px;
  border-radius: 30px;
  border: none;
  background: #9C0332;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 44px;
}
.top__button:hover {
  cursor: url(./images/Vector.svg), pointer;
}

.container__game {
  gap: 32px;
  background: #000915;
  display: flex;
  flex-wrap: wrap;
  padding-top: 128px;
  padding-bottom: 128px;
}
.container__game-box {
  width: 379px;
  height: 300px;
  border-radius: 16px;
}

.game-text {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  padding-left: 32px;
  padding-top: 236px;
}

.game1 {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./images/game1.png) lightgray 50%/cover no-repeat;
}
.game1:hover {
  cursor: url(./images/Vector.svg), pointer;
  border: 3px solid #44D2FF;
}

.game2 {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./images/game2.png) lightgray 50%/cover no-repeat;
}
.game2:hover {
  cursor: url(./images/Vector.svg), pointer;
  border: 3px solid #44D2FF;
}

.game3 {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./images/game3.png) lightgray 50%/cover no-repeat;
}
.game3:hover {
  cursor: url(./images/Vector.svg), pointer;
  border: 3px solid #44D2FF;
}

.seasons {
  height: 800px;
  background: #000915;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 135px;
}
.seasons__gamer {
  width: 584px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-content: flex-start;
  flex-wrap: wrap;
}
.seasons__gamer-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.seasons__gamer-text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}
.seasons__button1 {
  width: 234px;
  height: 49px;
  border-radius: 30px;
  border: none;
  background: #9C0332;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.seasons__button1:hover {
  cursor: url(./images/Vector.svg), pointer;
}
.seasons__image {
  width: 485px;
  height: 333px;
}

.remember {
  height: 800px;
  background: #000915;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 135px;
}
.remember__image {
  width: 481px;
  height: 322px;
}
.remember__box {
  width: 584px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-content: flex-start;
  flex-wrap: wrap;
}
.remember__box-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.remember__box-text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}
.remember__button2 {
  width: 234px;
  height: 49px;
  border-radius: 30px;
  border: none;
  background: #9C0332;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.remember__button2:hover {
  cursor: url(./images/Vector.svg), pointer;
}

.riddle {
  height: 800px;
  background: url(./images/unsplash_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.riddle__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.riddle__text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
}
.riddle__button2 {
  width: 234px;
  height: 49px;
  border-radius: 30px;
  border: none;
  background: #9C0332;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.riddle__button2:hover {
  cursor: url(./images/Vector.svg), pointer;
}

.footer {
  height: 80px;
  background: #000915;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.footer__text {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 496px);
    padding-right: calc(50% - 496px);
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top__header-title {
    font-size: 48px;
  }
  .container__game {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-bottom: 128px;
  }
  .seasons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-top: 51px;
  }
  .remember {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-top: 51px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
    gap: 32px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(./images/mobile-bg.jpg), lightgray -240.259px 0px/294% 100% no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  .top__header {
    width: 343px;
  }
  .top__header-title {
    width: 343px;
    text-align: center;
    font-size: 32px;
  }
  .top__header-text {
    width: 343px;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
  .top__header-bold {
    font-size: 14px;
  }
  .top__button {
    align-self: center;
    margin-top: 0;
  }
  .container__game {
    padding-bottom: 128px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  .container__game-box {
    width: 343px;
  }
  .seasons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-top: 51px;
  }
  .seasons__gamer {
    width: 343px;
    align-items: center;
  }
  .seasons__gamer-title {
    text-align: center;
    font-size: 32px;
  }
  .seasons__gamer-text {
    width: 343px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
  }
  .seasons__image {
    width: 344px;
    height: 236px;
  }
  .remember {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    padding-top: 51px;
  }
  .remember__image {
    width: 344px;
    height: 231px;
  }
  .remember__box {
    width: 343px;
    align-items: center;
  }
  .remember__box-title {
    text-align: center;
    font-size: 32px;
  }
  .remember__box-text {
    width: 343px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
  }
  .riddle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }
  .riddle__title {
    font-size: 32px;
  }
  .riddle__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
  }
}/*# sourceMappingURL=style.css.map */