* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 1024px;
  padding-top: 217px;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(./images/background.jpg), lightgray 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.top__header-title {
  width: 789px;
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.top__header-text {
  width: 481px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}
.top__header-bold {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.top__button {
  width: 234px;
  height: 49px;
  border-radius: 30px;
  border: none;
  background: #9C0332;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 44px;
}

.container__game {
  height: 556px;
  gap: 32px;
  padding-top: 128px;
  background: #000915;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.container__game-box {
  width: 379px;
  height: 300px;
  border-radius: 16px;
}

.game-text {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  padding-left: 32px;
  padding-top: 236px;
}

.game1 {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./images/game1.png) lightgray 50%/cover no-repeat;
}

.game2 {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./images/game2.png) lightgray 50%/cover no-repeat;
}

.game3 {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./images/game3.png) lightgray 50%/cover no-repeat;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    width: 375px;
    height: 735px;
    gap: 32px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(./images/mobile-bg.jpg), lightgray -240.259px 0px/294% 100% no-repeat;
  }
  .top__header {
    width: 343px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .top__header-title {
    width: 343px;
    text-align: center;
    font-size: 32px;
  }
  .top__header-text {
    width: 343px;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
  .top__header-bold {
    font-size: 14px;
  }
  .top__button {
    align-self: center;
    margin-top: 0;
  }
  .container__game {
    max-width: 375px;
    height: 1221px;
    /*display: grid;
    grid-template-columns: repeat(4, 1fr);*/
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .container__game-box {
    width: 343px;
  }
}/*# sourceMappingURL=style.css.map */